body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: #f0f0f0; 
}
.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center; 
    width: 600px; /* Largura do retângulo horizontal */
    max-width: 90%; /* Para se ajustar em telas menores */
}
.estrela {
    cursor: pointer;
    font-size: 24px; 
    color: gray;
}
.estrela:hover {
    color: gold; 
}
img {
    border-radius: 50%; /* Bordas arredondadas para a imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    margin-bottom: 20px; /* Espaçamento abaixo da imagem */
}
    