body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: #f0f0f0; 
}
.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center; 
    width: 600px;
    max-width: 90%;
}
.estrela {
    cursor: pointer;
    font-size: 24px; 
    color: gray;
}
.estrela:hover {
    color: gold; 
}
img {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
    